@page "/"
@inject Northwind.NorthwindService northwindService

<div class="row-layout view-1-container">
    <div class="group">
        <IgbDatePicker Label="Date" class="date-picker" view-1-scope></IgbDatePicker>
        @foreach (var item in northwindOrders)
        {
            <IgbSwitch class="switch" view-1-scope>
                Label
            </IgbSwitch>
        }
    </div>
</div>

@code {
    private Northwind.OrdersType[] northwindOrders = Array.Empty<Northwind.OrdersType>();

    protected override async Task OnInitializedAsync()
    {
        northwindOrders = await this.northwindService.GetOrders() ?? northwindOrders;
    }
}
