.row-layout {
    display: flex;
}
.view-1-container {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    height: 100%;
}
.group {
    position: relative;
    width: 460px;
    min-width: 50px;
    min-height: 50px;
}
.date-picker {
    left: 29.33695652173913px;
    top: 26.902173913043498px;
    position: absolute;
    width: 404px;
    height: max-content;
    min-width: 120px;
}
.switch {
    left: 34.35377038043474px;
    top: 96.60326086956528px;
    position: absolute;
    width: max-content;
    height: max-content;
}
.combo {
    left: 20.466840052015602px;
    top: 135.76072821846554px;
    position: absolute;
    width: 413px;
    height: max-content;
    min-width: min-content;
}
